
<div class="page-header" id:"banner">
 <div class="row">
 <div class="span4">
  <div class="col-xs-6 col-sm-6 col-md-4">
    <h4>Find me in app/views/static_pages/home.html.erb</h4>
  </div>
  </div>
  <div class="span8">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h1>Welcome to Radius - Find Out What's Happening Around You!</h1>
     <h3> This is the Lat <%= @lat %> and Lon <%= @lon %> ! </h3>
    <a id="getLocation" href="#">Get Location</a>
     
    <div id ='geoLocation'></div>

  </div>
  </div>
</div>
</div>
