
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" >
<div class="navbar-inner">
  <div class="container">        
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">More</a></li>
            <li><a href="#about">Bottom</a></li>
            <li><a href="#contact">Menus</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-fixed-top/">Fixed Bottom</a></li>
          </ul>
      </div>
	  	  </div>
</nav>    
 
