<% provide(:title, 'Radius Community') %>
<div class="container-fluid">
  <div class="row-fluid row">
    <div class="span3">
      <div class="well sidebar-nav-fixed">
        <ul class="nav nav-list">
          <li class="nav-header"></li>
          <%= will_paginate %>
          <ul class="users">
            <% @users.each do |user| %>
            <%= render user %>
            <% end %>
          </ul>
     <%= will_paginate %>
	   </div>
    </div>
    <div class="span9 span-fixed-sidebar">
      <h3>Radius Community</h3>
      <div class="hero-unit">
      <div class="row-fluid">
        <div class="span9">
		    <h1>Placeholder</h1>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
