<h1>
  <%= current_user.radius_name %>
</h1>
<span>
  <h6><%= link_to "My Radius", user_path(current_user) %></h6>
</span>
<span>
  <p></p>
  <%= pluralize(current_user.radiusposts.count, "post") %>
</span>