<% provide(:title, 'Hoopaholic') %>
<div class="page-header" id:"banner">
 <div class="row">
   <aside class="span2">
     <div class="col-xs-6 col-sm-6 col-md-4">
       <section>
		<h3>Regions</h3>
	   </section>
     </div>
    </aside>
  <div class="span10">
  <div class="col-xs-12 col-sm-6 col-md-8">
        <table class="table">
          <td>
            <tr>
			  <div class="input-group">
			    <span class="badge">1</span>
				<input class="form-control input-small" id="disabledInput" type="text" placeholder="Team" disabled>
			  </div>
			</tr>
			<tr>
			  <div class="input-group">
			    <span class="badge">2</span>
				<input class="form-control input-small" type="text" placeholder="Team">
			  </div>
		  </tr>
			</td>
        </table>
		</div>
  </div>
 </div>
</div>
