@import "bootstrap";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #2c3e50;
  background-color: #ffffff;
  padding-top: 70px;
}

 /* header */

 .navbar-inner  {
   background-color: #2c3e50;
   background-image: none;
   background-repeat: no-repeat;
   filter: none;
   color: #ffffff;
   letter-spacing: -1px;
   padding-top: 9px;
}

#logo {
   color: #ffffff;
   font-weight: bold;
   }

#menu {
   color: #ffffff;
   }

/* radiusposts */

.radiusposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
.btn {
   background-color: #2c3e50;
   background-image: none;
   background-repeat: no-repeat;
   filter: none;
   }
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
	margin: 0 0 18px 0;
	}
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
 
@import "bootstrap-responsive";