@import "bootstrap";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #2c3e50;
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}
.affix-top {
	top:60px;
    position:fixed;
}

.sidebar-nav-fixed {
    float: left;
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:270px;
	height: 100%;
}

#sidebar:hover{
    overflow-y:scroll;
    overflow-x:scroll;
}
.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
    list-style: none;
    margin: 10px 0 0 0;
	
}

 /* tables */
 .table{
   vertical-align: middle;
   }
 
 /* header */

 .navbar-inner  {
   background-color: #2c3e50;
   background-image: none;
   background-repeat: no-repeat;
   filter: none;
   color: #ffffff;
   letter-spacing: -1px;
   padding-top: 9px;
}

#logo {
   color: #ffffff;
   font-weight: bold;
   }

#menu {
   color: #ffffff;
   }

/* radiusposts */

.radiusposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

aside {
  textarea {
    height: 80px;
    margin-bottom: 10px;
  }
  display: inline-block;
}
.btn {
   background-color: #2c3e50;
   background-image: none;
   background-repeat: no-repeat;
   filter: none;
   }
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
	margin: 0 0 18px 0;
	}
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
 
@import "bootstrap-responsive";